/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/

# Archivos de soluciones de Visual Studio / JetBrains
[Aa]ssets/AssetStoreTools*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Archivos de metadatos de carpetas de sistema
.DS_Store
Thumbs.db

# Crashlytics y reportes automáticos
crashlytics-build.properties

# Archivos generados por paquetes de Unity
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/StreamingAssets/aa/*